/* BACKGROUND */
.akxon-bg {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/akxon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #e7faff;
}

/* MENU LATERAL À ESQUERDA */
.akxon-menu-left {
    width: 260px;
    margin-top: 30px;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 18px;

    margin: 10px 0 60px 40px;
    padding: 25px 25px;
    backdrop-filter: blur(6px);
    background: rgba(0, 20, 30, 0);

    border-radius: 0 18px 18px 0;
    border-right: 3px solid rgba(0, 255, 255, 0.45);
    border-top: 2px solid rgba(0, 255, 255, 0.25);
    border-bottom: 2px solid rgba(0, 255, 255, 0.25);

    box-shadow: 0 3px 23px rgba(0, 255, 255, 0.18);
}

.akxon-menu-left a {
    font-size: 18px;
    color: #9cefff;
    text-decoration: none;
    transition: 0.25s ease;
}

.akxon-menu-left a:hover {
    color: #ffffff;
    text-shadow: 0 0 13px #14eaff;
    transform: translateX(8px);
}

/* CONTEÚDO */
.akxon-content {
    max-width: 800px;
    margin: 10px 0 60px 120px;
    padding: 25px;
    background: rgba(0, 25, 40, 0.55);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.18);
    backdrop-filter: blur(7px);
}

.akxon-title {
    font-size: 48px;
    text-shadow: 0 0 20px #00eaff;
    margin-bottom: 25px;
}

.akxon-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 18px;
    opacity: 0.95;
}
